# Python
*.pyc
*.pyo
.*_cache
wine-py2exe/
py2exe.log
build/
dist/
zip/
tmp/
venv/
qoe_analytics_env/

# Misc
*~
*.DS_Store
*.kate-swp
MANIFEST
test/local_parameters.json
.coverage
cover/
secrets/
updates_key.pem
*.egg-info
.tox
*.class
*.isorted
*.stackdump
uv.lock
.env

# Jupyter
.ipynb_checkpoints

# Data Generated
data/*

# Airflow
pipelines/airflow/logs/
pipelines/airflow/airflow.*